.landing {
  position: absolute;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/landing.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  z-index: 10000;
  min-height: 100%;

  &-content {
    color: #fff;
    height: 100%;
    width: 100%;
    margin: auto;

    .landing-header {
      height: 40%;
      width: 20%;
      text-align: justify;
      margin-right: 100px;
    }

    .landing-forms {
      min-height: 500px;
      width: 500px;
      margin-left: 100px;
      display: grid;

      .forms-navigation {
        background: #fff;
        display: grid;

        .navigation-item {
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .forms-content {
        background: white;
        height: 500px;
        padding: 50px 40px;
        color: black;
      }
    }
  }
}

@media (max-width: 700px) {
  .landing {
    padding-bottom: 800px;
  }

  .landing-content {
    display: grid;
    grid-template-rows: auto auto;

    .landing-header {
      height: 40%;
      width: 100%;
      padding: 5% 10%;
      margin-right: 0;

      p {
        font-size: 0.9rem;
      }
    }

    .landing-forms {
      text-align: center;
      grid-template-rows: auto auto;
      padding: 10px 2%;
      width: 100%;
      margin-left: 0;

      h1 {
        font-size: 1.2rem;
      }

      .forms-navigation {
        grid-template-columns: 50% 50%;

        .navigation-item {
          padding: 0.5rem;
        }
      }

      .forms-content {
        padding: 50px 10px 50px 10px;
        max-height: 600px;
      }
    }
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  .landing {
    padding: 100px 0;
  }

  .landing-content {
    display: grid;
    grid-template-rows: auto auto;

    .landing-header {
      margin: 0 auto;
      width: 500px;
    }

    .landing-forms {
      margin: 0 auto;
    }

    .forms-navigation {
      grid-template-columns: 50% 50%;

      .navigation-item {
        padding: 0.5rem;
      }
    }
  }
}

@media (min-width: 1001px) {
  .landing-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .landing-forms {
      grid-template-columns: 15% 85%;
    }

    .forms-navigation {
      grid-template-rows: 50% 50%;
    }

    .navigation-header {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
  }
}
