@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  // Navbar
  .navbar {
    display: block;
    text-align: center;

    ul {
      text-align: center;
      justify-content: center;
    }

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  // Information box
  .info-content {
    display: grid;
    grid-template-columns: 100%;
  }

  .hide-sm {
    display: none;
  }

  // Profiles grid
  .profiles {
    grid-template-columns: 1fr;
    padding-bottom: 300px;

    .profile {
      width: 100%;
    }
  }

  // Posts
  .post-grid {
    grid-template-rows: auto auto auto;
  }

  .post-header {
    margin: auto;
  }

  .post-author {
    text-align: center;
  }

  .post-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 1rem;
  }

  // Github repos
  .repos-statistics {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .profiles {
    grid-template-columns: 1fr 1fr 1fr;
    .profile {
      width: 100%;
    }
  }
}
