$primary-color: #2c84dd;
$secondary-color: #4f5467;
$dark-color: #343a40;
$light-color: #f4f4f4;
$grey-color: #fafbfd;
$danger-color: #dc3545;
$success-color: #28a745;
$font-secondary: #888da8;

/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #edf1f5;
  color: #333;
}

/* Utilities 
.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  .hide-sm {
    display: none;
  }
}
*/
/*
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $font-secondary;
}

.text-dark {
  color: $dark-color;
}

.text-strong {
  font-weight: bold;
}
.text-small {
  font-size: 0.9rem;
}

 Margin
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.px {
  padding: 0 0.5rem;
}

.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.mb {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.mt {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mr {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}

.ml {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}

.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.btn-block {
  display: block;
  width: 100%;
}
 */
.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: $primary-color;
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: $danger-color;
  color: #fff;
}

.btn-grey,
.bg-grey,
.badge-grey,
.alert-grey {
  background: $grey-color;
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: $secondary-color;
  color: #fff;
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: $dark-color;
  color: #fff;
}

a {
  color: $primary-color;
  text-decoration: none;
}

/* Forms 
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  text-indent: 0.5rem;
  padding: 0.7rem;
  border: 0.5px solid rgba(240, 240, 240, 0.9);

  &:focus {
    outline: none;
  }
}

.form-rounded input[type="text"],
.form-rounded input[type="email"],
.form-rounded input[type="password"],
.form-rounded input[type="date"],
.form-rounded select,
.form-rounded textarea {
  border-radius: 15px;
}
.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.border-right {
  border-right: 1px solid rgba(240, 240, 240, 0.9);
}

.border-bottom {
  border-bottom: 1px solid rgba(240, 240, 240, 0.9);
}

.border-left {
  border-left: 1px solid rgba(240, 240, 240, 0.9);
}

.border-top {
  border-top: 1px solid rgba(240, 240, 240, 0.9);
}

.profiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3%;

  .profile {
    background-color: #fff;
    height: 340px;
    width: 280px;
    display: flex;
    flex-direction: column;

    .profile-up {
      text-align: center;
      padding: 20px 0;
      height: 85%;
    }

    .profile-view {
      border-top: 1px solid rgba($font-secondary, 0.3);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;
    }
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;

    .profile {
      width: 100%;
    }
  }
}

.profile-header {
  height: 200px;
  position: relative;

  .user-info {
    z-index: 100;
    position: absolute;
    top: 60%;
    left: 5%;
    display: flex;
  }
}

.user-actions {
  display: flex;
  margin-left: auto;
}


.post-grid {
  display: grid;
}

@media (max-width: 700px) {
  .post-grid {
    grid-template-rows: auto auto auto;
  }

  .post-header {
    margin: auto;
  }

  .post-author {
    text-align: center;
  }

  .post-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 1rem;
  }
}

@media (min-width: 701px) {
  .post-grid {
    grid-template-columns: 15% 70% 15%;
  }
}

.round-img {
  border-radius: 50%;
}

.profile-img {
  width: 100px;
  border: 4px solid $dark-color;
}

.post-img {
  width: 75px;
}
*/
